@page
@model DresdenUltimateCasting.Web.FactionListModel

@{
    ViewData["Title"] = "FactionList";
}

<h1>FactionList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faction[0].FactionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faction[0].SortOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Faction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FactionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FactionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
